<div id="<%= dom_id evaluation %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= evaluation.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Company area</p>
    <%= evaluation.company_area_id %>
  </div>
</div>
