<div id="<%= dom_id company_area %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= company_area.name %>
    <br>
    <%# <td>Nota Final da Auditoria: <%= company_area.total_product %></td> %>
  </div>
</div>
